body {
  background-color: mintcream;
  font-family: sans-serif;
}

header {
  position: relative;
  z-index: 2;
  max-width: 372px;
  background-color: powderblue;
}

details summary {
  font-size: 1.0em;
  font-weight: bold;
}

details[open] summary {
  font-size: 1.4em;
  font-weight: bold;
}

canvas {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  touch-action: none;
}

.xr-button {
  border: solid;
  border-radius: 2px;
  box-sizing: border-box;
  height: 50px;
  min-width: 176px;
  font-size: 18px;
  margin: 5px;
}

.xr-pulldown {
  border: solid;
  border-radius: 2px;
  box-sizing: border-box;
  height: 35px;
  min-width: 176px;
  font-size: 18px;
  margin: 5px;
}
